@import '../vendor/_vars.scss';

// 1280px - 992px
@media screen and (max-width: 1240px) {
    .container {
        width: 992px;
        padding: 0 15px;
    }
    .title {
        font-size: 42px;
    }
    .header {
        &-data {
            &-item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
    .intro {
        &__title {
            font-size: 60px;
            line-height: 100%;
        }
        &-wrapper {
            padding-top: 190px;
        }
        &-background {
            height: 635px;
        }
        &-link {
            width: 128px;
        }
    }

    .footer {
        &-block {
            &:nth-child(2) {
                margin: 0 80px;
            }
        }
        &-bottom {
            margin-top: 80px;
        }
    }

    //////////////
    .news {
        &-list {
            justify-content: space-between;
        }
        &-item {
            width: 49%;
            &:not(:nth-child(3n + 3)) {
                margin-right: 0;
            }
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 0;
            }
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 20px;
            }
        }
    }
    .about-main {

        &-number {
            &-item {
                width: 222px;
            }
            &__num {
                padding: 41px 15px 29px 15px;
            }
        }
    }
    .work {
        &-item {
            width: 137px;
            &:not(:nth-child(6n + 6)) {
                margin-right: 0;
            }
            &:not(:nth-child(5n + 5)) {
                margin-right: 69px;
            }
            &:not(:nth-last-child(-n + 6)) {
                margin-bottom: 0;
            }
            &:not(:nth-last-child(5n + 5)) {
                margin-bottom: 30px;
            }
        }
    }
    .about-application {
        .about-main__title {
            width: 100%;
        }
        &-image {
            width: 500px;
        }
        &-form {
            width: 462px;
        }
    }
    .main {
        &-wrapper {
            padding: 90px 0;
        }
        &-content {
            width: 560px;
        }
        &-saidbar {
            width: 382px;
            &-profile {
                &-item {
                    width: 108px;
                    border-radius: 18px;
                }
            }
            &-settings {
                &-item {
                    &-block {
                        width: 260px;
                    }
                }
            }
        }
        &-block {
            justify-content: space-between;
            &__text {
                margin-top: 0;
            }
        }
        .elem-form {
            &:not(:nth-last-child(-n + 3)) {
                margin-right: 0;
            }
            &.input, &.select {
                width: 270px;
            }
            &.select {
                width: 100%;
            }
        }
        &-tags {
            margin-top: 30px;
            &-item {
                padding: 12px 15px;
            }
        }
    }
    .experience {
        padding: 90px 0;
        &-add {
            &-main {
                width: 558px;
                .elem-form {
                    width: 268px;
                }
            }
            &-inner > .elem-form {
                width: 376px;
            }
        }
    }
    .vacancy {
        &-list {
            width: 652px;
        }
        &-item {
            &-main {
                &-right {
                    width: 340px;
                }
                &-left {
                    width: 216px;
                }
            }
        }
    }
    .chat {
        &-content {
            width: 652px;
            &-main {
                width: 476px;
            }
            &-inner {
                padding: 40px 20px;
            }
        }
        &-main {
            &-inner {
                padding: 36px 20px;
                flex-wrap: wrap;
            }
            &-tags {
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
            &-info {
                width: 484px;
            }
        }
        &-saidbar {
            width: 290px;
            .main-saidbar-team {
                &-image {
                    width: 58px;
                    height: 74px;
                    img {
                        width: 74px;
                    }
                }
            }
        }
    }
    .comm {
        &-inner {
            flex-direction: column;
        }
        &-info {
            width: 100%;
            &-progressbar {
                display: flex;
                margin-top: 30px;
            }
            &-block {
                &-inner {
                    flex-direction: row;
                }
            }
            &__descr {
                &:not(:last-child) {
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }
            &__btn {
                margin: 40px auto 0 auto;
            }
        }
        &__title {
            font-size: 45px;
            margin-bottom: 60px;
        }
        &-rating {
            width: 100%;
            margin-top: 60px;
            &-list {
                justify-content: flex-start;
            }
            &-item {
                &:not(:nth-child(3n + 3)) {
                    margin-right: 41px;
                }
            }
        }
    }
    .people {
        &-item {
            padding: 20px;
            &-image {
                width: 110px;
                height: 110px;
            }
            
        }
    }
    .resume {
        &-content {
            width: 652px;
        }
        &-form {
            width: 290px;
        }
        &__title {
            font-size: 32px;
        }
        &__price {
            font-size: 32px;
            span {
                font-size: 32px; 
            }
        }
        &__local {
            margin-top: 50px;
            font-size: 28px;
        }
        &-contact {
            &__title {
                font-size: 28px;
            }
        }
    }
    .single {
        &-content {
            width: 652px;
        }
        &__title {
            font-size: 34px;
            margin-bottom: 30px;
        }
        &-saidbar {
            width: 290px;
            .main-saidbar-team {
                &-image {
                    width: 58px;
                    height: 74px;
                    img {
                        width: 74px;
                    }
                }
            }
            &-still {
                &-panel {
                    margin-top: 30px;
                }
                &-item {
                    height: 284px;
                }
            }
        }
        &-image {
            height: 310px;
            margin: 30px 0;
        }
        &-video {
            &-inner {
                height: 310px;
            }
        }
        &-accent {
            &-item {
                width: 320px;
            }
        }
        &-gallery {
            &-item {
                height: 290px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .btn {
        padding: 15px;
    }
    .container {
        width: 768px;
    }
    .title {
        font-size: 36px;
    }
    .header {
        top: 20px;
        &-wrapper {
            position: relative;
        }
      //  position: relative;
        &-data {
            padding-top: 106px;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            top: -20px;
            height: 100vh;
            transition: $anim-default;
            left: -355px;
            background: #5B8AC6;
            padding-right: 40px;
            &::before {
                content: '';
                width: 1000px;
                height: calc(100% + 20px);
                z-index: -1;
                top: -20px;
                left: -1000px;
                position: absolute;
                background: #5B8AC6;
            }
            &-item {
                margin-bottom: 20px;
                &:not(:last-child) {
                    margin-right: 0;
                }
                &__text {
                    font-size: 16px;
                    span {
                        font-size: 16px;
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
        &-wrapper {
            align-items: center;
        }
        &-burger {
            display: block;
        }
    }
    .intro {
        &-main {
            width: 530px;
        }
        &__title {
            font-size: 46px;
        }
        &__descr { 
            font-size: 18px;
        }
        &-wrapper {
            padding-top: 135px;
        }
        &-background {
            height: 635px;
        }
        &-links {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 150px;
        }
        &-link {
            margin-bottom: 10px;
            &:not(:nth-child(5n + 5)) {
                margin-right: 10px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .footer {
        &-wrapper {
            padding: 80px 0 30px 0;
        }
        &-logo {
            margin-bottom: 20px;
        }
        &__address {
            margin-bottom: 15px;
        }
        &-main {
            display: flex;
            flex-wrap: wrap;
        }
        &-info {
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
        }
        &-nav {
            width: 100%;
            justify-content: space-between;
        }
        &-block { 
            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(2) {
                width: 30%;
                margin: 0;
            }
            &:nth-child(3) {
                width: 30%;
            }
        }
        &-bottom {
            margin-top: 50px;
        }
    }
    

    //////////////////// 
    .search-form {
        padding: 20px;
        border-radius: 12px;
    }
    .news {
        &-wrapper {
            padding: 90px 0;
        }
        &-list {
            margin-top: 40px;
        }
        .main-tags-item {
            padding: 12px 16px;
        }
    }
    .about-main {
        margin-bottom: 90px;
        &__elem {
            bottom: -90px;
        }
        &-wrapper {
            padding: 90px 0;
        }
        &-info {
            width: 508px;
            padding: 30px;
            &__descr {
                margin: 20px 0; 
            }
        }
        &-item {
            &-image {
                width: 230px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        &-number {
            margin-top: 90px;
            &-list {
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &-item {
                width: 48%;
                &:not(:last-child) {
                    margin-right: 0;
                }
                &:not(:nth-last-child(-n + 2)) {
                    margin-bottom: 30px;
                }
            }
            &__text {
                padding: 25px;
            }
        }
    }
    .work {
        &-wrapper {
            padding: 90px 0;
        }
        &-item {
            width: 125px;
            &:not(:nth-child(5n + 5)) {
                margin-right: 0;
            }
            &:not(:nth-child(4n + 4)) {
                margin-right: 18px;
            }
        }
    }
    .about-application {
        padding: 90px 0;
        &-block {
            flex-direction: column;
        }
        &-image {
            width: fit-content;
            height: 300px;
            position: relative;
            left: 20px;
        }
        &-form {
            &__title {
                width: 100%;
                text-align: center;
            }
            &__btn {
                justify-content: center;
                display: flex;
                margin: 46px auto 0 auto;
            }
        }
    }
    .main {
        &__title {
            font-size: 30px;
            line-height: normal;
        }
        &__password {
            margin: 30px auto 0 auto;
        }
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            width: 100%;
        }
        .elem-form {
            &.input, &.select {
                width: 230px;
            }
        }
        &-block {
            margin-top: 40px;
        }
        &-saidbar {
            justify-content: space-between;
            margin-top: 60px;
            display: flex;
            width: 100%;
            &-profile {
                width: 382px;
            }
            &-team {
                width: 326px;
                margin-top: 0;
                &-image {
                    width: 65px;
                }
            }
        }
    }
    .experience {
        &-add {
            &-main {
                width: 440px;
                .elem-form {
                    width: 210px;
                    &:not(:nth-last-child(-n + 2)) {
                        margin-bottom: 28px;
                    }
                }
            }
            &-inner > .elem-form {
                width: 280px;
            }
            &__btn {
                margin: 30px auto 0 auto;
                display: flex;
                justify-content: center;
            }
        }
        &-item {
            &__text {
                font-size: 16px;
            }
        }
    }
    .vacancy {
        &-wrapper {
            padding: 90px 0;
        }
    }
    .chat {
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            width: 100%;
            &-main {
                width: 562px;
            }
        }
        &-main {
            &-info {
                width: 570px;
            }
        }
        &-saidbar {
            margin-top: 60px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-rating {
                width: 48%;
                &-circle {
                    width: 108px;
                    height: 108px;
                }
                &__title {
                    margin: 41px 0 65px 0;
                }
            }
            &__recall {
                width: 100%;
            }
            .resume-form__btn {
                max-width: 355px;
                display: flex;
                justify-content: center;
                margin: 30px auto 0 auto;
            }
        }
    }
    .comm {
        &-wrapper {
            padding: 90px 0;
        }
        &__title {
            font-size: 40px;
            margin-bottom: 30px;
        }
        &-info {
            &__title {
                text-align: center;
            }
        }
        &-rating {
            &-list {
                justify-content: space-between;
            }
            &-item {
                width: 48%;
                &:not(:nth-child(3n + 3)) {
                    margin-right: 0;
                }
            }
        }
        &-search {
            padding: 90px 0;
        }
    }
    .people {
        &-wrapper {
            padding: 90px 0;
        }
        &-item {
            flex-wrap: wrap;
            &-main {
                padding-right: 0;
                width: 100%;
                border-bottom: 1px solid rgba(#5B8AC6, .4);
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            &-info {
                width: 556px;
            }
            &-tags {
                border-left: none;
                padding-left: 0;
                width: 596px;
            }
        }
    }
    .resume {
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            width: 100%;
        }
        &-form {
            width: 100%;
            margin-top: 30px;
            &__btn {
                max-width: 355px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
            }
        }
        &__title {
            font-size: 32px;
        }
        &__price {
            font-size: 32px;
            span {
                font-size: 32px;
            }
        }
        &__local {
            margin-top: 40px;
        }
    }
    .single {
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            width: 100%;
        }
        &-saidbar {
            margin-bottom: 80px;
            width: 100%;
            .main-saidbar-team {
                margin-top: 30px;
            }
        }
        &__title {
            font-size: 32px;
            line-height: normal;
        }
        &-condition {
            margin: 30px 0;
            &-block {
                padding: 20px;
            }
        }
        &-image {
            margin: 20px 0;
        }
        &-info {
            &__text {
                font-size: 20px;
                span {
                    font-size: 20px;
                }
            }
        }
        &-program {
            &-item {
                &-head {
                    padding: 20px 0;
                }
                &__content {
                    padding-bottom: 20px;
                }
            }
        }
        &-accent {
            &-item {
                width: 360px;
                &:not(:nth-last-child(-n + 2)) {
                    margin-bottom: 20px;
                }
            }
        }
        &-address {
            margin-bottom: 0;
        }
    }
    .vacancy {
        &-content {
            flex-direction: column;
        }
        &-list {
            width: 100%;
            margin-bottom: 20px;
        }
        &-item {
            &-main {
                &-right {
                    width: 408px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .breadcrumb {
        &-wrapper {
            padding: 50px 0;
        }
    }
    .container {
        width: 576px;
        padding: 0 10px;
    }
    .intro {
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 16px;
            margin: 10px 0 30px 0;
        }
        &-background {
            height: 630px;
        }
        &-link {
            margin-bottom: 10px;
            &:not(:nth-child(5n + 5)) {
                margin-right: 0;
            }
            &:not(:nth-child(4n + 4)) {
                margin-right: 10px;
            }
        }
    }
    //////////////////@at-root
    .news {
        &-wrapper {
            padding: 70px 0;
        }
        &-item {
            border-radius: 18px;
            &-details {
                flex-direction: column;
                align-items: flex-start;
            }
            &-image {
                height: 160px;
            }
            &-tags {
                top: 20px;
                left: 20px;
            }
            &-content {
                padding: 20px;
            }
        }
    }
    .about-main {
        &-list {
            flex-direction: row;
        }
        &-info {
            width: 100%;
            padding: 20px;
            &__title {
                width: 100%;
            }
            &__btn {
                margin: 0 auto;
            }
        }
        &-item {
            flex-direction: column;
            width: 400px;
            &:not(:last-child) {
                margin-right: 20px;
                margin-bottom: 0;   
            }
            &-image {
                width: 100%;
                height: 213px;
                img {
                    object-fit: contain;
                }
            }
            &:nth-child(even) {
                .about-main-info {
                    order: unset;
                }
            }
        }
        &-progressbar {
            display: flex;
            margin-top: 60px;
        }
    }
    .about-application {
        .about-main__title {
            line-height: 120%;
        }
    }
    .main {
        .elem-form {
            &.input, &.select {
                width: 48%;
            }
            &.select {
                width: 100%;
            }
        }
        &-saidbar {
            flex-direction: column;
            align-items: center;
            &-profile {
                width: 100%;
                &-item {
                    width: 164px;
                }
            }
            &-settings {
                &-item {
                    &-block {
                        width: 428px;
                    }
                }
            }
            &-team {
                width: 100%;
                margin-top: 60px;
                &-btns {
                    max-width:  300px;
                    margin: 0 auto;
                }
            }

        }
    }
    .experience {
        &__title {
            text-align: center;
        }
        &-add {
            &-inner {
                flex-direction: column;
                & > .elem-form {
                    width: 100%;
                    margin-top: 20px;
                }
            }
            &-main {
                width: 100%;
                .elem-form {
                    width: 264px;
                }
            }
        }
    }
    .vacancy {
        &-wrapper {
            padding: 70px 0;
        }
    }
    .chat {
        &-main {
            margin-bottom: 0;
            &-info {
                width: 388px;
            }
            &-inner {
                border-radius: 24px 24px 0 0;
                padding-bottom: 0;
            }
            &-tags {
                padding: 20px 0;
                border-top: 1px solid rgba(#5B8AC6, .2);
                border-bottom: 1px solid rgba(#5B8AC6, .2);
            }
        }
        &-content {
            &-inner {
                border-radius: 0 0 24px 24px;
                padding-top: 30px;
            }
            &-item {
                flex-direction: column;
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
            &-date {
                width: 100%;
                margin-bottom: 30px;
            }
            &-main {
                width: 100%;
                &-head {
                    margin-bottom: 20px;
                }
            }
        }
        &-saidbar {
            &-rating {
                width: 100%;
                &__title {
                    margin: 20px 0 30px 0;
                }
            }
        }
    }
    .comm {
        &__title {
            font-size: 35px;
        }
        &-wrapper {
            padding: 70px 0;
        }
        &-search {
            padding: 70px 0;
        }
    }
    .people {
        &-wrapper {
            padding: 70px 0;
        }
        &-item {
            &-info {
                width: 376px;
            }
            &-tags {
                width: 416px;
            }
        }
    }
    .resume {
        &-wrapper {
            padding-bottom: 80px;
        }
        &__title {
            font-size: 28px;
        }
        &__price {
            font-size: 28px;
            span {
                font-size: 28px;
            }
        }
        &__local {
            margin-top: 30px;
            font-size: 26px;
        }
        &-time {
            margin: 20px 0;
        }
        &-info {
            margin-bottom: 40px;
            &-item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                &__descr {
                    font-size: 16px;
                }
            }
        }
        &-contact {
            &:last-child {
                margin-top: 40px;
            }
            &__title {
                font-size: 26px;
                margin-bottom: 20px;
            }
            &-map {
                margin-top: 40px;
            }
        }
    }
    .single {
        &__title  {
            font-size: 27px;
        }
        &-accent {
            &-progressbar {
                display: flex;
                margin-top: 30px;
            }
            &-list {
                flex-wrap: nowrap;
            }
            &-item {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .vacancy {
        &-content {
            margin-top: 50px;
        }
        &-item {
            padding: 20px;
            &-main {
                flex-direction: column;
                &-left {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &-right {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    input, textarea {
        font-size: 16px;
    }
    .elem-form-input input, .elem-form-input textarea, .elem-form-textarea input, .elem-form-textarea textarea {
        padding: 15px 20px;
    }
    .select-accord {
        .select-list {
            width: 100%;
            max-height: 250px;
        }
    }
    .switch  {
        p {
            font-size: 16px;
        }
    }
    .select-default  {
        .select-list {
            width: 100%;
        }
    }
    .title {
        font-size: 30px;
    }
    .container {
        width: 100%;
    }
    .btn {
        padding: 15px 0;
    }
    .header {
        top: 12px;
        &-data {
            top: -12px;
            &::before {
                top: -12px;
            }
        }
        &-profile {
            &-button {
                padding: 16px 24px;
            }
        }
        &-notification {
            top: 55px;
            right: unset;
            left: -92px;
            background: #ffffff;
            &::before {
                display: none;
            }
        }
    }
    .intro {
        &__title {
            font-size: 34px;
        }
        &-wrapper {
            padding-top: 130px;
        }
        &-main {
            width: 100%;
        }
        &__title, &__descr {
            text-align: center;
        }
        &__button {
            max-width: 266px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        &-background {
            height: 550px;
            svg {
                bottom: -30px;
            }
        }
        &-links {
            justify-content: center;
            gap: 2%;
            margin-top: 80px;
        }
        &-link {
            width: 49%;
            &:not(:nth-child(5n + 5)) {
                margin-right: 0;
            }
            &:not(:nth-child(4n + 4)) {
                margin-right: 0;
            }
        }
    }
    .page__btn {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .footer {
        &-wrapper {
            padding: 70px 0 30px 0;
        }
        &-info {
            text-align: left;
            margin-bottom: 40px;
        }
        &-nav {
            flex-wrap: wrap;
        }
        &-block {
            &:nth-child(1) {
                width: 48%;
            }
            &:nth-child(2) {
                width: 48%;
            }
            &:nth-child(3) {
                width: 100%;
                margin-top: 40px;
            }
        }
        &-bottom {
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            margin-top: 60px;
        }
        &__political {
            margin-bottom: 15px;
        }
    }
    .resume {
        &-wrapper {
            padding-bottom: 50px;
        }
        &__title {
            font-size: 26px;
        }
        &__price {
            font-size: 26px;
        }
        &__local {
            font-size: 22px;
        }
        &-info {
            margin: 20px 0 30px 0;
        }
    }
    .main {
        &-tags {
            &-item {
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .news {
        &-item {
            min-height: unset;
            width: 100%;
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 0;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &-details {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    .about-main {
        margin-bottom: 60px;
            &__elem {
                bottom: -60px;
            }
            &-wrapper {
                padding-top: 60px;
            }
            &__title {
                margin-bottom: 30px;
            }
            &-item {
                width: 354px;
            }
            &-info {
                &__title {
                    font-size: 20px;
                }
                &__descr {
                    margin: 20px 0 30px 0;
                }
                &__btn {
                    width: 100%;
                }
            }
            &-progressbar {
                .progress {
                    width: 82%;
                }
            }
            &-number {
                margin-top: 60px;
                &-item {
                    width: 100%;
                    &:not(:nth-last-child(-n + 2)) {
                        margin-bottom: 0;
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
    }
    .work {
        &-list {
            justify-content: space-between;
        }
        &-item {
            width: 48%;
            &:not(:nth-child(4n + 4)) {
                margin-right: 0;
            }
        }
        &-wrapper {
            padding: 60px 0;
        }
    }
    .about-application {
        padding: 60px 0;
        &-form {
            width: 100%;
            &-block {
                width: calc(100% - 62px) !important;
            }
            &__text {
                margin-left: 15px;
                width: calc(100% - 15px) !important;
            }
            &__btn {
                width: 100%;
                max-width: 355px;
                margin-top: 30px;
            }
        }
    }
    .main {
        .select-default {
            .select-title  {
                p {
                    font-size: 16px;
                }
            }
        }
        &-block {
            margin-top: 30px;
        }
        .elem-form {
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 20px;
            }
        }
        &__title {
            text-align: center;
        }
        &-wrapper {
            padding: 60px 0;
        }
        &-tags {
            &-item {
                padding: 10px;
                p {
                    font-size: 10px;
                }
            }
        }
        &__password {
            width: 100%;
            max-width: 354px;
        }
        &-saidbar {
            &-profile {
                padding: 40px 10px 60px 10px;
                &-item {
                    width: 112px;
                    &__text {
                        font-size: 12px;
                        text-align: center;
                        span {
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
            &-settings {
                &-item {
                    &-block {
                        width: calc(100% - 82px);
                    }
                    &__descr {
                        font-size: 14px !important;
                    }
                }
            }
            &-team {
                &__btn {
                    max-width: 355px;
                    width: 100%;
                }
                &-btns {
                    max-width: unset;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .experience {
        padding: 60px 0;
        &__title {
            line-height: normal;
            margin-bottom: 30px;
        }
        &-add {
            margin-top: 60px;
            &-main {
                .elem-form {
                    width: 100%;
                    &:not(:nth-last-child(-n + 2)) {
                        margin-bottom: 0;
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
            &__btn {
                max-width: 355px;
                width: 100%;
            }
        }
    }
    .chat {
        &-main {
            &-image {
                margin-right: 22px;
            }
            &-info {
                width: calc(100% - 120px);
                &__name {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
        &-saidbar {
            &-rating {
                &-circle {
                    width: 98px;
                    height: 98px;
                }
            }
        }
    }
    .comm {
        &__title {
            font-size: 30px;
        }
        &-wrapper {
            padding: 60px 0;
        }
        &-rating {
            &-item {
                width: 100%;
            }
        }
        &-search {
            padding: 60px 0;
        }
    }
    .search {
        .main-tags {
            margin-top: 20px;
        }
    }

    .people {
        &-wrapper {
            padding: 60px 0;
        }
        &-item {
            &-main {
                flex-direction: column;
                padding-bottom: 0;
                margin-bottom: 30px;
            }
            &-image {
                margin-right: 0;
                width: 100%;
                height: 140px;
                border-radius: 10px;
            }
            &-info {
                width: 100%;
                padding: 30px 0 35px 0;
            }
            &__post {
                margin: 4px 0;
            }
            &-tags {
                width: 100%;
                padding-right: 0;
                border-right: none;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(#5B8AC6, .4);
            }
            &__link {
                width: 100%;
                justify-content: center;
                margin-top: 20px;
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .single {
        &__btn {
            max-width: 355px;
            display: flex;
            justify-content: center;
            margin: 30px auto 0 auto;
        }
        &-image {
            height: 269px;
        }
        &-info {
            &__text {
                font-size: 16px;
                &:first-child {
                    margin-right: 44px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            font-size: 16px;
            text-align: center;
        }
        &-condition {
            &-image {
                margin-bottom: 23px;
                width: 163px;
                height: 163px;
                margin-right: 0;
            }
            &-block {
                &-head {
                    flex-direction: column;
                }
                &-main {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &-blockquote {
            margin-top: 60px;
            p {
                padding: 49px 55px;
            }
        }
        &-program {
            &-item {
                &__title {
                    font-size: 16px;
                }
            }
        }
        &-video {
            &-inner {
                height: 270px;
            }
        }
        &-accent {
            .progress {
                width: 82%;
            }
        }
        &-gallery {
            &-item {
                height: 200px;
            }
        }
        &-common {
            &-list {
                justify-content: center;
            }
            &-item {
                &__text {
                    font-size: 12px;
                }
            }
        }
    }
    .vacancy-item {
        &__link {
            padding: 15px;
        }
    }
}
