@media screen and (max-width: 1240px) {
  .container {
    width: 992px;
    padding: 0 15px;
  }
  .title {
    font-size: 42px;
  }
  .header-data-item:not(:last-child) {
    margin-right: 30px;
  }
  .intro__title {
    font-size: 60px;
    line-height: 100%;
  }
  .intro-wrapper {
    padding-top: 190px;
  }
  .intro-background {
    height: 635px;
  }
  .intro-link {
    width: 128px;
  }
  .footer-block:nth-child(2) {
    margin: 0 80px;
  }
  .footer-bottom {
    margin-top: 80px;
  }
  .news-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news-item {
    width: 49%;
  }
  .news-item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .news-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0;
  }
  .news-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
  .about-main-number-item {
    width: 222px;
  }
  .about-main-number__num {
    padding: 41px 15px 29px 15px;
  }
  .work-item {
    width: 137px;
  }
  .work-item:not(:nth-child(6n + 6)) {
    margin-right: 0;
  }
  .work-item:not(:nth-child(5n + 5)) {
    margin-right: 69px;
  }
  .work-item:not(:nth-last-child(-n + 6)) {
    margin-bottom: 0;
  }
  .work-item:not(:nth-last-child(5n + 5)) {
    margin-bottom: 30px;
  }
  .about-application .about-main__title {
    width: 100%;
  }
  .about-application-image {
    width: 500px;
  }
  .about-application-form {
    width: 462px;
  }
  .main-wrapper {
    padding: 90px 0;
  }
  .main-content {
    width: 560px;
  }
  .main-saidbar {
    width: 382px;
  }
  .main-saidbar-profile-item {
    width: 108px;
    border-radius: 18px;
  }
  .main-saidbar-settings-item-block {
    width: 260px;
  }
  .main-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-block__text {
    margin-top: 0;
  }
  .main .elem-form:not(:nth-last-child(-n + 3)) {
    margin-right: 0;
  }
  .main .elem-form.input, .main .elem-form.select {
    width: 270px;
  }
  .main .elem-form.select {
    width: 100%;
  }
  .main-tags {
    margin-top: 30px;
  }
  .main-tags-item {
    padding: 12px 15px;
  }
  .experience {
    padding: 90px 0;
  }
  .experience-add-main {
    width: 558px;
  }
  .experience-add-main .elem-form {
    width: 268px;
  }
  .experience-add-inner > .elem-form {
    width: 376px;
  }
  .vacancy-list {
    width: 652px;
  }
  .vacancy-item-main-right {
    width: 340px;
  }
  .vacancy-item-main-left {
    width: 216px;
  }
  .chat-content {
    width: 652px;
  }
  .chat-content-main {
    width: 476px;
  }
  .chat-content-inner {
    padding: 40px 20px;
  }
  .chat-main-inner {
    padding: 36px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .chat-main-tags {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .chat-main-info {
    width: 484px;
  }
  .chat-saidbar {
    width: 290px;
  }
  .chat-saidbar .main-saidbar-team-image {
    width: 58px;
    height: 74px;
  }
  .chat-saidbar .main-saidbar-team-image img {
    width: 74px;
  }
  .comm-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comm-info {
    width: 100%;
  }
  .comm-info-progressbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .comm-info-block-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .comm-info__descr:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .comm-info__btn {
    margin: 40px auto 0 auto;
  }
  .comm__title {
    font-size: 45px;
    margin-bottom: 60px;
  }
  .comm-rating {
    width: 100%;
    margin-top: 60px;
  }
  .comm-rating-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comm-rating-item:not(:nth-child(3n + 3)) {
    margin-right: 41px;
  }
  .people-item {
    padding: 20px;
  }
  .people-item-image {
    width: 110px;
    height: 110px;
  }
  .resume-content {
    width: 652px;
  }
  .resume-form {
    width: 290px;
  }
  .resume__title {
    font-size: 32px;
  }
  .resume__price {
    font-size: 32px;
  }
  .resume__price span {
    font-size: 32px;
  }
  .resume__local {
    margin-top: 50px;
    font-size: 28px;
  }
  .resume-contact__title {
    font-size: 28px;
  }
  .single-content {
    width: 652px;
  }
  .single__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .single-saidbar {
    width: 290px;
  }
  .single-saidbar .main-saidbar-team-image {
    width: 58px;
    height: 74px;
  }
  .single-saidbar .main-saidbar-team-image img {
    width: 74px;
  }
  .single-saidbar-still-panel {
    margin-top: 30px;
  }
  .single-saidbar-still-item {
    height: 284px;
  }
  .single-image {
    height: 310px;
    margin: 30px 0;
  }
  .single-video-inner {
    height: 310px;
  }
  .single-accent-item {
    width: 320px;
  }
  .single-gallery-item {
    height: 290px;
  }
}

@media screen and (max-width: 992px) {
  .btn {
    padding: 15px;
  }
  .container {
    width: 768px;
  }
  .title {
    font-size: 36px;
  }
  .header {
    top: 20px;
  }
  .header-wrapper {
    position: relative;
  }
  .header-data {
    padding-top: 106px;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: -20px;
    height: 100vh;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: -355px;
    background: #5B8AC6;
    padding-right: 40px;
  }
  .header-data::before {
    content: '';
    width: 1000px;
    height: calc(100% + 20px);
    z-index: -1;
    top: -20px;
    left: -1000px;
    position: absolute;
    background: #5B8AC6;
  }
  .header-data-item {
    margin-bottom: 20px;
  }
  .header-data-item:not(:last-child) {
    margin-right: 0;
  }
  .header-data-item__text {
    font-size: 16px;
  }
  .header-data-item__text span {
    font-size: 16px;
  }
  .header-data.active {
    left: 0;
  }
  .header-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-burger {
    display: block;
  }
  .intro-main {
    width: 530px;
  }
  .intro__title {
    font-size: 46px;
  }
  .intro__descr {
    font-size: 18px;
  }
  .intro-wrapper {
    padding-top: 135px;
  }
  .intro-background {
    height: 635px;
  }
  .intro-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
  }
  .intro-link {
    margin-bottom: 10px;
  }
  .intro-link:not(:nth-child(5n + 5)) {
    margin-right: 10px;
  }
  .intro-link:last-child {
    margin-right: 0;
  }
  .footer-wrapper {
    padding: 80px 0 30px 0;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer__address {
    margin-bottom: 15px;
  }
  .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-block:nth-child(1) {
    width: 30%;
  }
  .footer-block:nth-child(2) {
    width: 30%;
    margin: 0;
  }
  .footer-block:nth-child(3) {
    width: 30%;
  }
  .footer-bottom {
    margin-top: 50px;
  }
  .search-form {
    padding: 20px;
    border-radius: 12px;
  }
  .news-wrapper {
    padding: 90px 0;
  }
  .news-list {
    margin-top: 40px;
  }
  .news .main-tags-item {
    padding: 12px 16px;
  }
  .about-main {
    margin-bottom: 90px;
  }
  .about-main__elem {
    bottom: -90px;
  }
  .about-main-wrapper {
    padding: 90px 0;
  }
  .about-main-info {
    width: 508px;
    padding: 30px;
  }
  .about-main-info__descr {
    margin: 20px 0;
  }
  .about-main-item-image {
    width: 230px;
  }
  .about-main-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .about-main-number {
    margin-top: 90px;
  }
  .about-main-number-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-main-number-item {
    width: 48%;
  }
  .about-main-number-item:not(:last-child) {
    margin-right: 0;
  }
  .about-main-number-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .about-main-number__text {
    padding: 25px;
  }
  .work-wrapper {
    padding: 90px 0;
  }
  .work-item {
    width: 125px;
  }
  .work-item:not(:nth-child(5n + 5)) {
    margin-right: 0;
  }
  .work-item:not(:nth-child(4n + 4)) {
    margin-right: 18px;
  }
  .about-application {
    padding: 90px 0;
  }
  .about-application-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-application-image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 300px;
    position: relative;
    left: 20px;
  }
  .about-application-form__title {
    width: 100%;
    text-align: center;
  }
  .about-application-form__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 46px auto 0 auto;
  }
  .main__title {
    font-size: 30px;
    line-height: normal;
  }
  .main__password {
    margin: 30px auto 0 auto;
  }
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .main .elem-form.input, .main .elem-form.select {
    width: 230px;
  }
  .main-block {
    margin-top: 40px;
  }
  .main-saidbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .main-saidbar-profile {
    width: 382px;
  }
  .main-saidbar-team {
    width: 326px;
    margin-top: 0;
  }
  .main-saidbar-team-image {
    width: 65px;
  }
  .experience-add-main {
    width: 440px;
  }
  .experience-add-main .elem-form {
    width: 210px;
  }
  .experience-add-main .elem-form:not(:nth-last-child(-n + 2)) {
    margin-bottom: 28px;
  }
  .experience-add-inner > .elem-form {
    width: 280px;
  }
  .experience-add__btn {
    margin: 30px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience-item__text {
    font-size: 16px;
  }
  .vacancy-wrapper {
    padding: 90px 0;
  }
  .chat-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-content {
    width: 100%;
  }
  .chat-content-main {
    width: 562px;
  }
  .chat-main-info {
    width: 570px;
  }
  .chat-saidbar {
    margin-top: 60px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-saidbar-rating {
    width: 48%;
  }
  .chat-saidbar-rating-circle {
    width: 108px;
    height: 108px;
  }
  .chat-saidbar-rating__title {
    margin: 41px 0 65px 0;
  }
  .chat-saidbar__recall {
    width: 100%;
  }
  .chat-saidbar .resume-form__btn {
    max-width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto 0 auto;
  }
  .comm-wrapper {
    padding: 90px 0;
  }
  .comm__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .comm-info__title {
    text-align: center;
  }
  .comm-rating-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comm-rating-item {
    width: 48%;
  }
  .comm-rating-item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .comm-search {
    padding: 90px 0;
  }
  .people-wrapper {
    padding: 90px 0;
  }
  .people-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .people-item-main {
    padding-right: 0;
    width: 100%;
    border-bottom: 1px solid rgba(91, 138, 198, 0.4);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .people-item-info {
    width: 556px;
  }
  .people-item-tags {
    border-left: none;
    padding-left: 0;
    width: 596px;
  }
  .resume-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resume-content {
    width: 100%;
  }
  .resume-form {
    width: 100%;
    margin-top: 30px;
  }
  .resume-form__btn {
    max-width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .resume__title {
    font-size: 32px;
  }
  .resume__price {
    font-size: 32px;
  }
  .resume__price span {
    font-size: 32px;
  }
  .resume__local {
    margin-top: 40px;
  }
  .single-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single-content {
    width: 100%;
  }
  .single-saidbar {
    margin-bottom: 80px;
    width: 100%;
  }
  .single-saidbar .main-saidbar-team {
    margin-top: 30px;
  }
  .single__title {
    font-size: 32px;
    line-height: normal;
  }
  .single-condition {
    margin: 30px 0;
  }
  .single-condition-block {
    padding: 20px;
  }
  .single-image {
    margin: 20px 0;
  }
  .single-info__text {
    font-size: 20px;
  }
  .single-info__text span {
    font-size: 20px;
  }
  .single-program-item-head {
    padding: 20px 0;
  }
  .single-program-item__content {
    padding-bottom: 20px;
  }
  .single-accent-item {
    width: 360px;
  }
  .single-accent-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
  .single-address {
    margin-bottom: 0;
  }
  .vacancy-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vacancy-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .vacancy-item-main-right {
    width: 408px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb-wrapper {
    padding: 50px 0;
  }
  .container {
    width: 576px;
    padding: 0 10px;
  }
  .intro__title {
    font-size: 40px;
  }
  .intro__descr {
    font-size: 16px;
    margin: 10px 0 30px 0;
  }
  .intro-background {
    height: 630px;
  }
  .intro-link {
    margin-bottom: 10px;
  }
  .intro-link:not(:nth-child(5n + 5)) {
    margin-right: 0;
  }
  .intro-link:not(:nth-child(4n + 4)) {
    margin-right: 10px;
  }
  .news-wrapper {
    padding: 70px 0;
  }
  .news-item {
    border-radius: 18px;
  }
  .news-item-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news-item-image {
    height: 160px;
  }
  .news-item-tags {
    top: 20px;
    left: 20px;
  }
  .news-item-content {
    padding: 20px;
  }
  .about-main-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-main-info {
    width: 100%;
    padding: 20px;
  }
  .about-main-info__title {
    width: 100%;
  }
  .about-main-info__btn {
    margin: 0 auto;
  }
  .about-main-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
  }
  .about-main-item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .about-main-item-image {
    width: 100%;
    height: 213px;
  }
  .about-main-item-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about-main-item:nth-child(even) .about-main-info {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .about-main-progressbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
  .about-application .about-main__title {
    line-height: 120%;
  }
  .main .elem-form.input, .main .elem-form.select {
    width: 48%;
  }
  .main .elem-form.select {
    width: 100%;
  }
  .main-saidbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-saidbar-profile {
    width: 100%;
  }
  .main-saidbar-profile-item {
    width: 164px;
  }
  .main-saidbar-settings-item-block {
    width: 428px;
  }
  .main-saidbar-team {
    width: 100%;
    margin-top: 60px;
  }
  .main-saidbar-team-btns {
    max-width: 300px;
    margin: 0 auto;
  }
  .experience__title {
    text-align: center;
  }
  .experience-add-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience-add-inner > .elem-form {
    width: 100%;
    margin-top: 20px;
  }
  .experience-add-main {
    width: 100%;
  }
  .experience-add-main .elem-form {
    width: 264px;
  }
  .vacancy-wrapper {
    padding: 70px 0;
  }
  .chat-main {
    margin-bottom: 0;
  }
  .chat-main-info {
    width: 388px;
  }
  .chat-main-inner {
    border-radius: 24px 24px 0 0;
    padding-bottom: 0;
  }
  .chat-main-tags {
    padding: 20px 0;
    border-top: 1px solid rgba(91, 138, 198, 0.2);
    border-bottom: 1px solid rgba(91, 138, 198, 0.2);
  }
  .chat-content-inner {
    border-radius: 0 0 24px 24px;
    padding-top: 30px;
  }
  .chat-content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-content-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .chat-content-date {
    width: 100%;
    margin-bottom: 30px;
  }
  .chat-content-main {
    width: 100%;
  }
  .chat-content-main-head {
    margin-bottom: 20px;
  }
  .chat-saidbar-rating {
    width: 100%;
  }
  .chat-saidbar-rating__title {
    margin: 20px 0 30px 0;
  }
  .comm__title {
    font-size: 35px;
  }
  .comm-wrapper {
    padding: 70px 0;
  }
  .comm-search {
    padding: 70px 0;
  }
  .people-wrapper {
    padding: 70px 0;
  }
  .people-item-info {
    width: 376px;
  }
  .people-item-tags {
    width: 416px;
  }
  .resume-wrapper {
    padding-bottom: 80px;
  }
  .resume__title {
    font-size: 28px;
  }
  .resume__price {
    font-size: 28px;
  }
  .resume__price span {
    font-size: 28px;
  }
  .resume__local {
    margin-top: 30px;
    font-size: 26px;
  }
  .resume-time {
    margin: 20px 0;
  }
  .resume-info {
    margin-bottom: 40px;
  }
  .resume-info-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .resume-info-item__descr {
    font-size: 16px;
  }
  .resume-contact:last-child {
    margin-top: 40px;
  }
  .resume-contact__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .resume-contact-map {
    margin-top: 40px;
  }
  .single__title {
    font-size: 27px;
  }
  .single-accent-progressbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .single-accent-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .single-accent-item:not(:last-child) {
    margin-right: 20px;
  }
  .vacancy-content {
    margin-top: 50px;
  }
  .vacancy-item {
    padding: 20px;
  }
  .vacancy-item-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vacancy-item-main-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .vacancy-item-main-right {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  input, textarea {
    font-size: 16px;
  }
  .elem-form-input input, .elem-form-input textarea, .elem-form-textarea input, .elem-form-textarea textarea {
    padding: 15px 20px;
  }
  .select-accord .select-list {
    width: 100%;
    max-height: 250px;
  }
  .switch p {
    font-size: 16px;
  }
  .select-default .select-list {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .container {
    width: 100%;
  }
  .btn {
    padding: 15px 0;
  }
  .header {
    top: 12px;
  }
  .header-data {
    top: -12px;
  }
  .header-data::before {
    top: -12px;
  }
  .header-profile-button {
    padding: 16px 24px;
  }
  .header-notification {
    top: 55px;
    right: unset;
    left: -92px;
    background: #ffffff;
  }
  .header-notification::before {
    display: none;
  }
  .intro__title {
    font-size: 34px;
  }
  .intro-wrapper {
    padding-top: 130px;
  }
  .intro-main {
    width: 100%;
  }
  .intro__title, .intro__descr {
    text-align: center;
  }
  .intro__button {
    max-width: 266px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro-background {
    height: 550px;
  }
  .intro-background svg {
    bottom: -30px;
  }
  .intro-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2%;
    margin-top: 80px;
  }
  .intro-link {
    width: 49%;
  }
  .intro-link:not(:nth-child(5n + 5)) {
    margin-right: 0;
  }
  .intro-link:not(:nth-child(4n + 4)) {
    margin-right: 0;
  }
  .page__btn:not(:last-child) {
    margin-right: 10px;
  }
  .footer-wrapper {
    padding: 70px 0 30px 0;
  }
  .footer-info {
    text-align: left;
    margin-bottom: 40px;
  }
  .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-block:nth-child(1) {
    width: 48%;
  }
  .footer-block:nth-child(2) {
    width: 48%;
  }
  .footer-block:nth-child(3) {
    width: 100%;
    margin-top: 40px;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    margin-top: 60px;
  }
  .footer__political {
    margin-bottom: 15px;
  }
  .resume-wrapper {
    padding-bottom: 50px;
  }
  .resume__title {
    font-size: 26px;
  }
  .resume__price {
    font-size: 26px;
  }
  .resume__local {
    font-size: 22px;
  }
  .resume-info {
    margin: 20px 0 30px 0;
  }
  .main-tags-item p {
    font-size: 14px;
  }
  .news-item {
    min-height: unset;
    width: 100%;
  }
  .news-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .news-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .news-item-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-main {
    margin-bottom: 60px;
  }
  .about-main__elem {
    bottom: -60px;
  }
  .about-main-wrapper {
    padding-top: 60px;
  }
  .about-main__title {
    margin-bottom: 30px;
  }
  .about-main-item {
    width: 354px;
  }
  .about-main-info__title {
    font-size: 20px;
  }
  .about-main-info__descr {
    margin: 20px 0 30px 0;
  }
  .about-main-info__btn {
    width: 100%;
  }
  .about-main-progressbar .progress {
    width: 82%;
  }
  .about-main-number {
    margin-top: 60px;
  }
  .about-main-number-item {
    width: 100%;
  }
  .about-main-number-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .about-main-number-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .work-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-item {
    width: 48%;
  }
  .work-item:not(:nth-child(4n + 4)) {
    margin-right: 0;
  }
  .work-wrapper {
    padding: 60px 0;
  }
  .about-application {
    padding: 60px 0;
  }
  .about-application-form {
    width: 100%;
  }
  .about-application-form-block {
    width: calc(100% - 62px) !important;
  }
  .about-application-form__text {
    margin-left: 15px;
    width: calc(100% - 15px) !important;
  }
  .about-application-form__btn {
    width: 100%;
    max-width: 355px;
    margin-top: 30px;
  }
  .main .select-default .select-title p {
    font-size: 16px;
  }
  .main-block {
    margin-top: 30px;
  }
  .main .elem-form:not(:nth-last-child(-n + 3)) {
    margin-bottom: 20px;
  }
  .main__title {
    text-align: center;
  }
  .main-wrapper {
    padding: 60px 0;
  }
  .main-tags-item {
    padding: 10px;
  }
  .main-tags-item p {
    font-size: 10px;
  }
  .main__password {
    width: 100%;
    max-width: 354px;
  }
  .main-saidbar-profile {
    padding: 40px 10px 60px 10px;
  }
  .main-saidbar-profile-item {
    width: 112px;
  }
  .main-saidbar-profile-item__text {
    font-size: 12px;
    text-align: center;
  }
  .main-saidbar-profile-item__text span {
    font-size: 12px;
    text-align: center;
  }
  .main-saidbar-settings-item-block {
    width: calc(100% - 82px);
  }
  .main-saidbar-settings-item__descr {
    font-size: 14px !important;
  }
  .main-saidbar-team__btn {
    max-width: 355px;
    width: 100%;
  }
  .main-saidbar-team-btns {
    max-width: unset;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experience {
    padding: 60px 0;
  }
  .experience__title {
    line-height: normal;
    margin-bottom: 30px;
  }
  .experience-add {
    margin-top: 60px;
  }
  .experience-add-main .elem-form {
    width: 100%;
  }
  .experience-add-main .elem-form:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .experience-add-main .elem-form:not(:last-child) {
    margin-bottom: 20px;
  }
  .experience-add__btn {
    max-width: 355px;
    width: 100%;
  }
  .chat-main-image {
    margin-right: 22px;
  }
  .chat-main-info {
    width: calc(100% - 120px);
  }
  .chat-main-info__name {
    font-size: 18px;
    margin-right: 10px;
  }
  .chat-saidbar-rating-circle {
    width: 98px;
    height: 98px;
  }
  .comm__title {
    font-size: 30px;
  }
  .comm-wrapper {
    padding: 60px 0;
  }
  .comm-rating-item {
    width: 100%;
  }
  .comm-search {
    padding: 60px 0;
  }
  .search .main-tags {
    margin-top: 20px;
  }
  .people-wrapper {
    padding: 60px 0;
  }
  .people-item-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .people-item-image {
    margin-right: 0;
    width: 100%;
    height: 140px;
    border-radius: 10px;
  }
  .people-item-info {
    width: 100%;
    padding: 30px 0 35px 0;
  }
  .people-item__post {
    margin: 4px 0;
  }
  .people-item-tags {
    width: 100%;
    padding-right: 0;
    border-right: none;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(91, 138, 198, 0.4);
  }
  .people-item__link {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .people-item__link svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .single__btn {
    max-width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto 0 auto;
  }
  .single-image {
    height: 269px;
  }
  .single-info__text {
    font-size: 16px;
  }
  .single-info__text:first-child {
    margin-right: 44px;
  }
  .single-info__text span {
    font-size: 16px;
  }
  .single__title {
    text-align: center;
  }
  .single__subtitle {
    font-size: 16px;
    text-align: center;
  }
  .single-condition-image {
    margin-bottom: 23px;
    width: 163px;
    height: 163px;
    margin-right: 0;
  }
  .single-condition-block-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single-condition-block-main {
    width: 100%;
    text-align: center;
  }
  .single-blockquote {
    margin-top: 60px;
  }
  .single-blockquote p {
    padding: 49px 55px;
  }
  .single-program-item__title {
    font-size: 16px;
  }
  .single-video-inner {
    height: 270px;
  }
  .single-accent .progress {
    width: 82%;
  }
  .single-gallery-item {
    height: 200px;
  }
  .single-common-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single-common-item__text {
    font-size: 12px;
  }
  .vacancy-item__link {
    padding: 15px;
  }
}
/*# sourceMappingURL=media.css.map */